{% load static %}
<html>
	<head>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{% block title %}
			{% endblock %}</title>
			<script src="{% static 'scripts/jquiry.js' %}" defer></script>
			{% block scripts%}
			{% endblock %}
			<link rel="stylesheet" href="{% static 'blog/style.css' %}">
			
	<body>
		<div class="page-header">
			<h1><a href="/">
				{% block heading %}
				{% endblock %}
			</a></h1>
			{% if base_username %}
			<span><div>{{ base_username }}</div>
				  <div><a href="/accounts/logout">log out</a></div></span>
			{% else %}
			<span><div>Not logged in</div>
			      <div><a href="/accounts/login">log in</a></div></span>
			{% endif %}
			
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>