{% load static %}
<html>
	<head>
		<head>
			<title>{% block title %}
			{% endblock %}</title>
			<script src="{% static 'scripts/jquiry.js' %}" defer></script>
			{% block scripts%}
			{% endblock %}
			<link rel="stylesheet" href="{% static 'blog/style.css' %}">
			
	<body>
		<div class="page-header">
			<h1><a href="/">
				{% block heading %}
				{% endblock %}
			</a></h1>
		</div>
		<div class="content container">
			<div>
				<div>
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>