{% extends 'base.html' %}
{% load static %}

{% block heading %}Home{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
{% if message %}
<div id="message">{{ message }}</div>
{% endif %}
<h1>Newest blog posts</h1>
{% if base_username %}
<a href="/post">Post new blog</a>
{% endif %}

{% for post in posts %}
<div class="postsummary" id="post_{{ post.3 }}">
    <span class="authorname">{{ post.1 }}</span>
    <h1 class="posttitle">{{ post.2 }}</h1>
    <span class="postcontent">
    {{ post.0 }}</span>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/home.js' %}" defer></script>
{% endblock %}