{% extends 'base.html' %}
{% load static %}

{% block heading %}Home{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>{{username}}</h1>
<div class="pictureframe">
    {% if photo %}
    <img src="{{ photo }}">
    {% else %}
    <img src=https://i.stack.imgur.com/WmvM0.png">
    {% endif %}
    {% if base_username == username %}
    <form method="POST" id="profilePicForm">
        {% csrf_token %}
    </form>
    <a href="#" id="changeProfilePic">Change profile picture</a>
    {% endif %}
</div>
<h2>Top posts</h2>
{% for post in posts %}
    {% include "includes/postSummary.html" %}
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/home.js' %}" defer></script>
{% if base_username == username %}
    <script src="{% static 'scripts/viewUser.js' %}" defer></script>
{% endif %}
{% endblock %}