{% extends 'base.html' %}
{% load static %}

{% block heading %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="posttitle">{{ title }}</h1>
<div class="context">
    <img src="{{ authorimage }}"/><br/>
    <small>Author:</small><br/>
    <a class="authorname" href="/user/{{authorid}}">{{ authorname }}</a><br/>
    <small>Date published:</small><br/>
    <span class="pubdate">{{ pubdate }}</span>
    {% if pubdate != moddate %}
    <br/>
    <small>Last modified:</small><br/>
    <span class="moddate">{{ moddate }}</span>
    {% endif %}
</div>
<article>
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
</article>
{% if base_username == authorname %}
    <a href="/post/{{ post_id }}">Edit post</a>
{% endif %}
<div class="comments">
    <h1>{{ comments|length }} comments</h1>
    {% for comment in comments %}
        {% include "includes/comment.html" %}
    {% endfor %}
    {% if base_username %}
        <form method="POST">
            {% csrf_token %}
            <textarea name="comment_content"></textarea>
            <button type="submit">Post comment</button>
        </form>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}