{% extends 'base.html' %}
{% load static %}

{% block heading %}Register{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
	<input type="hidden" name="registerToken" value="True"/>
    <p><label for="id_username">Username</label>
	<input id="id_username" name="username" maxlength="254" autofocus required type="text" value="{{ username }}"/></p>
	{% if usererror %}
		<div class="validationError">{{ usererror }}</div>
	{% endif %}
	<p><label for="id_email">E-mail</label>
	<input id="id_email" name="email" type="email" value="{{ email }}" required/></p>
	{% if emailrerror %}
		<div class="validationError">{{ emailerror }}</div>
	{% endif %}
	<p><label for="id_password">Password</label>
	<input id="id_password" name="password" required value="{{ password }}" type="password"/></p>
	{% if passworderror %}
		<div class="validationError">{{ passworderror }}</div>
	{% endif %}
	<p><label for="id_password_2">Confirm Password</label>
	<input id="id_password_2" type="password" name="password_2" value="{{ password2 }}" required/></p>
	{% if password2error %}
		<div class="validationError">{{ password2error }}</div>
	{% endif %}
	<button type="submit" id="registerButton">Register</button>
  </form>
{% endblock %}

{% block scripts %}

{% endblock %}